@model IEnumerable<InstaSharp.Sample.Mvc.ModelsJaime.MediaComOutrosDados>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Self Media</title>
</head>
<body>


    @foreach (var item in Model)
    {
        <div>
            <img src="@item.Media.Images.StandardResolution.Url" />
            <br />
            <p>Likes : @item.TotalLikesMedia</p>
            <p>Usuarios que deram Like : 
            @foreach (var userLike in item.UsuariosQueDeramLike)
            {
                @userLike ;
            }
            </p>
        </div>
    }

</body>
</html>
